@import 'tailwindcss';

@theme {
  --color-brand-500: #0079bf;
  --color-brand-600: #005fa3;
  --color-brand-700: #004f8a;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100svh;
}
